{% extends 'layout.html' %}

{% block style %}
  <link href="{{ url_for('static' , filename='css/create-patients.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    
    <div class="jumbotron text-center">
      <h1>Patient Registration</h1>
      <hr>
      <div class="fluid-container">
        <form action="/create-patients" method="post">

          <div class="form-group row">
            <label for="patient_id" class="col-3 col-form-label">Patient SSN ID :</label> 
            <div class="col-9">
              <input id="patient_id" name="patient_id" type="text" required="required" class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-3 col-form-label" for="name">Patient Name :</label> 
            <div class="col-9">
              <input id="name" name="name" type="text" required="required" class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label for="age" class="col-3 col-form-label">Patient Age :</label> 
            <div class="col-9">
              <input id="age" name="age" type="number" required="required" class="form-control" min="0">
            </div>
          </div>

          <div class="form-group row">
            <label for="date" class="col-3 col-form-label">Date of Admission :</label> 
            <div class="col-9">
              <input id="date" name="date" placeholder="DD/MM/YYYY" type="text" required="required" class="form-control"  pattern="(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d">
            </div>
          </div>

          <div class="form-group row">
            <label for="bed" class="col-3 col-form-label">Types of Bed :</label> 
            <div class="col-9">
              <select id="bed" name="bed" class="custom-select" required="required">
                <option value="general">General Ward</option>
                <option value="semi">Semi Sharing</option>
                <option value="single">Single Room</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="address" class="col-3 col-form-label">Address :</label> 
            <div class="col-9">
              <textarea id="address" name="address" cols="40" rows="5" class="form-control" required="required"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="state" class="col-3 col-form-label">State :</label> 
            <div class="col-9">
              <input id="state" name="state" type="text" class="form-control" required="required">
            </div>
          </div>

          <div class="form-group row">
            <label for="city" class="col-3 col-form-label">City :</label> 
            <div class="col-9">
              <input id="city" name="city" type="text" class="form-control" required="required">
            </div>
          </div> 

          <div class="msg">{{ msg }}</div>

          <div class="form-group row">
            <div class="offset-3 col-7">
              <button name="submit" type="submit" class="btn btn-primary col-4">Submit</button>
              <button name="reset" type="reset" class="btn btn-primary col-4">Reset</button>
            </div>
          </div>

        </form>
      </div>
    </div>

{% endblock %}