{% extends 'layout.html' %}

{% block body %}

// form for searching patient by id
<div>
	<form method="post",action="{{ url_for('pharmacist') }}">

		{{ form.hidden_tag() }}

		<table>
			<tr>
				<td>{{ form.patientid.label }}</td>
				<td>{{ form.patientid }}</td>
			</tr>
			<tr>
				<td>{{ form.search }}</td>
			</tr>
		</table>
	</form>
</div>

// displaying patient details by patient id
<div>
	<table>
		<tr>
		    <th>patientId</th>
		    <th>Name</th>
		    <th>Age</th>
		    <th>Address</th>
		    <th>DOJ</th>
		    <th>Type Of Room</th>
		</tr>
  <tr>
    <td>{{ patient.patientId }}</td>
    <td>{{ patient.patientName }}</td>
    <td>{{ patient.age }}</td>
    <td><p>{{ patient.address }} </p> <p> {{ patient.city }}</p> <p> {{ patient.state }} </p> </td>l̥
    <td>patient.dateOfAdmission</td>
    <td>patient.typeOfBed</td>
  </tr>
    </table>

</div>

// medcine issued to given patient

<div>
	<table>
		<tr>
			<th>Medicine</th>
			<th>Quantity</th>
			<th>Rate</th>
			<th>Amount</th>
		</tr>

		{% for row in records %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[1]*row[2] }}</td>
            </tr>
		{% endfor %}
		
	</table>

</div>

<div>

{% endblock %}