{% extends 'layout.html' %}

{% block body %}
<div class='container'>
	<div class='text-center mt-3' style="font-size: 2.2rem;color:#b66041;font-weight: 600;text-decoration: underline;">View Patient</div>
	<table class='table table-striped mt-4 text-center'>
		<thead class='thead-dark'>
			<tr>
				<th>Patient ID</th>
				<th>Patient Name</th>
				<th>Age</th>
				<th>Date of Admission</th>
				<th>Type of Bed</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ patient['patientId'] }}</td>
				<td>{{ patient['patientName'] }}</td>
				<td>{{ patient['age'] }}</td>
				<td>{{ patient['dateOfAdmission'] }}</td>
				<td>{{ patient['typeOfBed'] }}</td>
				<td>{{ patient['address'] }}</td>
				<td>{{ patient['city'] }}</td>
				<td>{{ patient['state'] }}</td>
				<td>{{ patient['status'] }}</td>
			</tr>
		</tbody>
	</table>
	<div class='text-center'>
		<a href="{{ url_for('billing_screen',pId=patient['patientId']) }}" class='btn btn-success btn-lg m-4'>Complete Payment</a>
	</div>
</div>
{% endblock %} 