{% extends 'layout.html' %}

{% block body %}

	<table class='table table-striped mt-4'>
		<thead class='thead-dark'>
			<tr>
				<th>Patient SSN ID</th>
				<th>Patient Name</th>
				<th>Age</th>
				<th>Date of Admission</th>
				<th>Type of Bed</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ patient['patientSsnId'] }}</td>
				<td>{{ patient['patientName'] }}</td>
				<td>{{ patient['age'] }}</td>
				<td>{{ patient['dateOfAdmission'] }}</td>
				<td>{{ patient['typeOfBed'] }}</td>
				<td>{{ patient['address'] }}</td>
				<td>{{ patient['city'] }}</td>
				<td>{{ patient['state'] }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %} 