body{
  background-color: #5b6574;
  }

     
.jumbotron{
  border: 1px solid;
  margin: 2% 0 2% 0;
  }

  h1{
    margin-top: -50px;
  }

label{
  
  font-weight: bold;
}

textarea{
  resize: none;
}

.cancel{
  padding:5px 12px 10px 14px;
  background-color: red; 
  color: white; 
  border-radius: 5px; 
  margin: 0 10%;
}

.btn{
  background-color: #3274d6;
  margin-left: 4%;"
}